USE [master]
GO
/****** Object:  Database [ElEmpleo]    Script Date: 24/03/2020 6:59:48 p. m. ******/
CREATE DATABASE [ElEmpleo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElEmpleo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ElEmpleo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElEmpleo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ElEmpleo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElEmpleo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElEmpleo]
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 24/03/2020 6:59:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[CODIGO] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [nchar](20) NULL,
 CONSTRAINT [PK_CIUDAD] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 24/03/2020 6:59:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[CODIGO] [numeric](18, 0) NOT NULL,
	[NOMBRE] [nchar](20) NULL,
	[APELLIDO] [nchar](20) NULL,
	[NUMERO_IDENTIFICACION] [nchar](15) NULL,
	[CODIGO_CIUDAD] [numeric](18, 0) NULL,
 CONSTRAINT [PK_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDEDOR]  WITH CHECK ADD FOREIGN KEY([CODIGO_CIUDAD])
REFERENCES [dbo].[CIUDAD] ([CODIGO])
GO
USE [master]
GO
